body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 12px;
  color: #000000;
  background: #CDCDCD;
}
.barra{
  margin: 2% auto;
  width: 640px;
}
.puntuacion{
  position: relative;
  top: 430px;
  left: 0px;
  height: 30px;
  color: #000000;
  background: #C0C0C0;
}
.minas, .tiempo, .b-nivel, .b-reiniciar{
  position: absolute;
}
.minas{
  top: 6px;
  left: 30px;
  font-family: Verdana;
  font-size: 14px;
  text-align: left;
  background: transparent;
}
.tiempo{
  top: 6px;
  left: 100px;
  font-family: Verdana;
  font-size: 14px;
  text-align: left;
  background: transparent;
}
.b-nivel{
  top: 4px;
  left: 430px;
  width: 80px;
  font-family: Arial;
  font-size: 12px;
}
.b-reiniciar{
  top: 3px;
  left: 520px;
  width: 80px;
  font-family: Arial;
  font-size: 12px;
  text-align: center;
}
.tablero{
  position: relative;
  width: 640px;
  height: 400px;
  color: #000000;
  background: #7F7F7F;

}
.celda{
  margin-top: 30px;
  position: absolute;
}